<a href="https://colab.research.google.com/github/madhushree781/Full-Stack-Development/blob/main/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#creating a list
flowerslist=["jasmine","lilly","marigold","hibiscus","rose"]
print(flowerslist)

['jasmine', 'lilly', 'marigold', 'hibiscus', 'rose']

In [6]:
#Using different indices
flowerslist=["jasmine","lilly","marigold","hibiscus","rose"]
print(flowerslist[-1])

rose

In [9]:
#reassignment of list values
flowerslist=["jasmine","lilly","marigold","hibiscus","rose"]
flowerslist[0]="spatika"
print(flowerslist)

['spatika', 'lilly', 'marigold', 'hibiscus', 'rose']

In [10]:
#print all the elements using loop
for x in flowerslist:
  print(x)

spatika
lilly
marigold
hibiscus
rose

In [11]:
#length of the list
print(len(flowerslist))

5

In [13]:
#item exist in the list
key=input("enter a name to search")
if key in flowerslist:
  print("yes,key in the list")
else:
  print("key is not found in the list")

enter a name to searchsunflower
key is not found in the list

In [18]:
#Adding  the elements at the last of the list
flowerslist=["jasmine","lilly","marigold","hibiscus","rose"]
flowerslist.append("sunflower")
print(flowerslist)

['jasmine', 'lilly', 'marigold', 'hibiscus', 'rose', 'sunflower']

In [17]:
#inserting element in between the list
flowerslist=["jasmine","lilly","marigold","hibiscus","rose"]
flowerslist.insert(2,"sunflower")
print(flowerslist)

['jasmine', 'lilly', 'sunflower', 'marigold', 'hibiscus', 'rose']

In [19]:
#removing the elements from the list we use four methods
#remove
flowerslist=["jasmine","lilly","marigold","hibiscus","rose"]
flowerslist.remove("rose")
print(flowerslist)

['jasmine', 'lilly', 'marigold', 'hibiscus']

In [20]:
#pop
flowerslist=["jasmine","lilly","marigold","hibiscus","rose"]
flowerslist.pop()
print(flowerslist)

['jasmine', 'lilly', 'marigold', 'hibiscus']

In [25]:
#del
flowerslist=["jasmine","lilly","marigold","hibiscus","rose"]
del flowerslist[2]
print(flowerslist)

['jasmine', 'lilly', 'hibiscus', 'rose']

In [26]:
#copying a list
flowerslist=["jasmine","lilly","marigold","hibiscus","rose"]
flowerslist1=flowerslist.copy()
print(flowerslist1)

['jasmine', 'lilly', 'marigold', 'hibiscus', 'rose']

In [ ]:
#joining the two list
flowerslist=["jasmine","lilly","marigold","hibiscus","rose"]
flowerslist1=

In [39]:
#python program to count no. of vowels in a string
string=input("Enter a string ")
vowels=0
for i in string:
 if (i=='a' or i=='A' or i=='e' or i=='E' or i=='o' or i=='O' or i=='u' or i=='U'):
   vowels=vowels+1

print(vowels)

Enter a string divya
1

In [42]:
#python program
string=input("enter a string")
string=string.replace('a','$');
string=string.replace('A','$');
print(string)

enter a stringJavA
J$v$

In [45]:
#sum of two numbers
n1=int(input("enter a number:"))
n2=int(input("enter a number:"))
sum=0;
sum=n1+n2;
print("sum of {0} & {1} is {2}".format(n1,n2,sum))

enter a number:4
enter a number:8
sum of 4 & 8 is 12

In [49]:
#program to print random numbers
import random
random.randint(0,9)
print(random.randint(0,9))

8

In [46]:
#program to convert km to miles using formula miles=km*0.62
km=int(input("enter km:"))
miles=int(km*0.62)
print(miles)

enter km:45
27

In [51]:
def change(string):
  return string[-1:]+string[1:-1]+string[:1]
  string=input("enter string:")
  print("modified string")
  print(change(string))