<a href="https://colab.research.google.com/github/madhushree781/Full-Stack-Development/blob/main/pythonbasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#printing variables
fname="PRAKRUTHI"
fac_no=525
height=5.2
print(fname,fac_no,height)

PRAKRUTHI 525 5.2

In [ ]:
#input
cname=input("please enter your college name")
print(cname)

please enter your college name KIT
 KIT

In [ ]:
#operators
24/6

4.0

In [ ]:
#program to input the marks & display grade
marks=int(input("please enter your marks"))
if marks>39 and marks<50:
  print("E grade")
elif marks>49 and marks<60:
  print("D grade")
elif marks>59 and marks<70:
  print("C grade")
else:
  print("pass")

please enter your marks70
pass

In [ ]:
#python program of finding factorial of a number
n=int(input("enter a number value to find factorial of num"))
fact=1
i=1
while i<=n:
  fact=fact*i
  i+=1
  print(fact)

enter a number value to find factorial of num5
1
2
6
24
120

In [ ]:
#to search a key element to implement linear search
cnames=["msril","hkbk","bms"]
key=input("enter college name")
flag=0
for x in cnames:
  if key==x:
    print("key is found in list")
    flag=1
    break
  else:
    continue
if flag==0:
  print("key not found")

enter college namekit
key not found

In [ ]:
for x in range(55):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54

In [ ]:
#nested loops & pass statements
sub=["data structure","oops","DMS"]
student=["nithya","harini","anjali"]
print("student name","sub name")
for x in student:
  for y in sub:
    print(x,y)

student name sub name
nithya data structure
nithya oops
nithya DMS
harini data structure
harini oops
harini DMS
anjali data structure
anjali oops
anjali DMS

In [ ]:
for x in (0,1,2):
  pass